.Test {
    width: 98%;
    padding: 50px 20px;
    display: flex;
    overflow-y: auto;
}

.Test div {
    width: 350px;
    display: flex;
    gap: 26px;
}

.test-list-not-phone {
    justify-content: start;
}

.test_list {
    width: 100%;
    box-shadow: 1px 2px 10px 2px #ccc;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.test_list div {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.test_list span {
    margin: 0 10px;
    color: #66aaad;
}

.test_list_enterprise {
    width: 100%;
    text-align: start;
}

.enterprise {
    font-family: ğ‘“ğ‘ğ‘›ğ‘ğ‘¦ ğ‘¡ğ‘’ğ‘¥ğ‘¡, 'sans-serif';
    font-weight: bolder;
    font-size: 22px;
    color: #66aaad;
}

.description {
    width: 100%;
    height: 30px;
}